# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build/
dist/

# Production
*.log
*.log.*

# Misc
.DS_Store
*.pem
# .env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Vercel
.vercel

# Turbo
.turbo

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.swp
*.swo
*~

# OS
Thumbs.db
